<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
      <title> description about tablets</title>

  </head>
  <body>
<main role="main">
  <div class="container">
     <h2 class="text-center pt-4"> {{tablet.tablet_name}} </h2>
      <p class="text-center">  {{tablet.e_date}} </p>

     <hr/>
      <p class="text-center"> {{tablet.description}} </p>

  </div>
</main>
  </body>
</html>